[submodule "content/docs/reports/course_ee693e_2020_fall"]
	path = content/docs/reports/course_ee693e_2020_fall
	url = git@github.com:gustybear-teaching/course_ee693e_2020_fall.git
	branch = main
[submodule "content/docs/exams/course_ee260_2021_spring"]
	path = content/docs/exams/course_ee260_2021_spring
	url = git@github.com:gustybear-teaching/course_ee260_2021_spring.git
	branch = main
[submodule "content/docs/reports/course_ee693e_2021_fall"]
	path = content/docs/reports/course_ee693e_2021_fall
	url = git@github.com:gustybear-teaching/course_ee693e_2021_fall.git
	branch = main
